html, body {
    height: 100%;
}

body {
    padding-top: 40px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 53px;
    background-color: black;
    background-size: cover;
}

#content-container{
    margin-bottom: 80px;
    min-height: 70%;
}

.footer ul {
    min-height: 100px;
}

.footer {
    position: relative;
    /*margin-top: -180px; !* negative value of footer height *!*/
    height: 180px;
    clear: both;
}


#wrap {
    min-height: 100%;
    position: relative;
    /*z-index: 3;*/
}

#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.pushdown {
    margin-top: 15%;
}

.loader {
    border: 16px solid #375a7f; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
}

.loader-small {
    border: 16px solid #375a7f; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 70%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.well-hover:default
{
    background-color: #ccc;
}
.well-hover:hover
{
    background-color: #f9f9f9;
}

.well-warning {
    background-color: #e08e0b;
}

.well-danger {
    background-color: #e74c3c;
}

.textright {
    position: relative;
    clear: right;
    float: right;
}
.floatright {
    margin: 0 0 .5em .5em;
    border: 0;
    position: relative;
    clear: right;
    float: right;
}

.pointer {
    cursor: pointer;
}

@media (max-width:767px) {
    .center-small {
        margin-bottom: 2em;
        text-align: center
    }
}

.dark-textbox {
    background-color: #ced4dd !important;
}

.dark-textbox::-webkit-input-placeholder { /* Chrome */
    color: #706f6f;
}
.dark-textbox:-ms-input-placeholder { /* IE 10+ */
    color: #706f6f;
}
.dark-textbox::-moz-placeholder { /* Firefox 19+ */
    color: #706f6f;
    opacity: 1;
}
.dark-textbox:-moz-placeholder { /* Firefox 4 - 18 */
    color: #706f6f;
    opacity: 1;
}

.session-box:hover
{
    transition: background-color 0.7s ease;
    background-color: rgba(50, 50, 50, 0.7);
    border-color: #0ce3ac;
}

.sponsor-box{
    background-color: #203c4f;
}

.session-box-heading{
    min-height: 70px;
}
.session-box-description{
    min-height: 150px;
}

.session-title{
    color: #0CE3AC;
    min-height:42px;
}

.session-box-details{
    color: #9b9a9a;
}

.slots-closed{
    color: #c60000;
}

.slots-warning{
    color: orange;
}

.slots-open{
    color: green;
}

.thumbnail-game{
    height: 60px;
    width: 60px;
    margin-bottom: 5px !important;
}

.auth-dropdown{
    width: 200px !important;
}

#auth-dd{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    /*background-color:rgba(255,255,255,.8);*/
}
#auth-dd .help-block{
    font-size:12px
}
#auth-dd .bottom{
    background-color: rgba(92, 92, 92, 0.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#auth-dd .social-buttons{
    margin:12px 0
}
#auth-dd .social-buttons a{
    width: 49%;
}
#auth-dd .form-group {
    margin-bottom: 10px;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}

#login-nav .has-error{
    color: red;
}